---
layout: default
---
<div class="main">
  {% include heading.html level="1" title="Requirements" %}
  <p>Vim-UCTags has one mandatory requirement:
  <a id="ctags">Universal-Ctags</a>, which can be built from source at
  <a id="ctagsRepo"> GitHub</a>, or installed using your package manager.</p>

  <p>Additionally, you will need the `find` command―provided by the
  <i>findutils</i><sup>*</sup> (Should be installed by default if on Linux)
  <sup>**</sup> package.<br>
  <sup>* Package name based on Debian repositories.</sup><br>
  <sup>** If not installed by default, consult your package manager.</sup></p>

  {% include heading.html level="2" title="apt-get" %}
  <p>For Debian and Debian derivatives, you can run the following in a terminal
  of your choosing:</p>

  <code>
  sudo apt-get -fV install universal-ctags --no-install-recommends
  </code>

  {% include heading.html level="2" title="pacman" %}
  <p>For Arch Linux and Arch Linux derivatives, you can run the following in a
  terminal of your choosing:</p>

  <code>
  pacman -Syu universal-ctags-git
  </code>

  {% include note.html content="You may need to issue this through
  <code>sudo</code> if you do not have sufficient privileges." %}
</div>
